<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.bc.bit.vo.BITVO" alias="BITVO" />
	</typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
        <property name="username" value="PROJECT"/>
        <property name="password" value="pw"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="com/bc/bit/mybatis/mapper.xml"/>
  </mappers>
</configuration>